<% if flash[:errors] %>
    <div class="error__box">
        <% flash[:errors].each do |error| %>
        <p><%= error %></p>
        <% end %>
    </div>
<% end %>
<div class="form__container">
    <div class= "form__header">
        <h3>Sign Up</h3>
        <p>Please fillout all the required information.</p>
    </div>
    <%= render 'form' %>

    <%= link_to "Login to an account", '/welcome', class: "bottom_link" %>
</div>
