<h1>All my offers</h1>

<h4>Offers to Confirm</h4>
<% @pending_offers.each do |offer| %>
    <p><%= link_to "#{offer.wanted_item.name} from #{offer.wanted_item.user.name} | My: #{offer.offered_item.name}", offer %></p>
<% end %>

<h4>Created Offers</h4>
<% @created_offers.each do |offer| %>

<div><%= link_to "#{offer.wanted_item.name} from #{offer.wanted_item.user.name} | My: #{offer.offered_item.name}", offer %></div>
<%end%>

<h4>Recieved Offers</h4>
<% @recieved_offers.each do |offer| %>
    <div><%= link_to "My: #{offer.wanted_item.name} <=> #{offer.offered_item.name} | from: #{offer.offered_item.user.name} | status: #{offer.status}", offer %></div>
<%end%>