<h1>All Offers</h1>

<div class="offer_container">
    <h3>Created Offers</h3>
    <% @created_offers.each do |offer| %>

    <div class= "offer_item">
        <h5 style="background: #FBBE53">Offering <%= offer.wanted_item.user.name %></h5>
        <h4>Trading: <%= link_to "#{offer.wanted_item.name} ðŸ” #{offer.offered_item.name} (owned)", offer %>
        </h4>
    </div>
    <%end%>

    <h3>Recieved Offers</h3>
    <% @recieved_offers.each do |offer| %>
        <div class= "offer_item">
            <h5 style="background: #7CB518">Offer from: <%= offer.offered_item.user.name %></h5>
            <h4>Trading: <%= link_to "#{offer.wanted_item.name} (owned) ðŸ” #{offer.offered_item.name}", offer %>
            </h4>
        </div>
    <%end%>
</div>
