<h1>Offers to Confirm</h1>

<div class="offer_container">
    <% @offers.each do |offer| %>
        <div class= "offer_item">
            <h5 style="background: lightgrey">Offer with: <%= offer.wanted_item.user.name %></h5>
            <h4>Trading: <%= link_to "#{offer.wanted_item.name} ðŸ” #{offer.offered_item.name} (owned)", offer %>
            </h4>
        </div>
    <% end %>
</div>