<h1>All availble items to trade with</h1>

<%= link_to "Add new Item", new_item_path, class: "link_button"%>

<div class="rows-container">
  <% @items.each do |item| %>
    <div class="rows-item">
      <p> <%= link_to item.name.capitalize, item %> — Owned By: <%= item.user.name %></p>
    </div>
  <% end %>  
</div>