@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
$blue: #A6C0E8;


*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    color: #30323D;
    background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23ccdbf1' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    & main{
        width: 80%;
        margin: 0 auto;
    }
}
.user_navigation{
    background:$blue;
    width: 100%; 
    height: 4rem;
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(11, 15, 20, 0.5);
    &_item{
        display: block;
        line-height: 2;
        a {
            padding-bottom: 2px;
            text-decoration: none;
            color: #30323D;
            border-bottom: 2px solid darken($blue, 20%);
            transition: border ease 300ms;

            &:hover {
                border-bottom: 2px solid lighten($blue, 5%);
                ;
            }
        }
        .button_to{
            display: inline-block;
            margin: 0 20px;
            
        }
    }
    .inner_nav{
        display: flex;
        padding: 0 30px;
        width: 50%;
        align-items: flex-end;
        justify-content: space-between;
        .inner_item.hover_item {
            line-height: 2;
            border-bottom: 3px solid transparent;
            transition: all ease 300ms;

            & a {
                text-decoration: none;
                color: #30323D;
            }

            &:hover {
                border-bottom: 3px solid #F2F6FB;
            }
        }
    }
    
}
main{
    padding-top: 5rem;
    padding-bottom: 5rem;
    & > h1{
        text-align: center;
        line-height: 2;
        letter-spacing: 1px;
        margin: 0;
    }
    & > h3{
        text-align: center;
        line-height: 1.5;
        margin: 0;
        font-weight: normal;
        color: #413B3D;
    }
    & > .link_button{
        text-decoration: none;
        max-width: 18rem;
        display: block;
        margin: 10px auto;
        background: $blue;
        text-align: center;
        padding: 15px 25px;
        border-radius: 10px;
        color: #30323D;
        transition: all ease 300ms;
        &:hover{
            background: lighten($blue, 10%);
        }
    }
}
.error__box{
    width: 60%;
    margin: 2rem auto;
    padding: 7px;
    color: #D63301;
    background-color: #FFCCBA;
    border: 1px solid red;
}

.form__container{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .2);
    border-radius: 7px;
    overflow: hidden;
    & .form__header{
        padding: 20px;
        background: $blue;
        overflow: hidden;
        text-align: center;
        h3{
            font-size: 2rem;
            font-weight: normal;
            line-height: 2;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 1.3px;
        }
        p{
            font-size: 1rem;
            line-height: 1.5;
            margin: 0;
        }
    }
}
.form__container form {
    background: #F9F9F9;
    padding: 30px;
    display: flex;
    flex-direction: column;
    & label{
        display: block;
        margin-bottom: 5px;
        margin-left: 5px;
        letter-spacing: 1px;
        color: #212121;
    }
    input{
        height: 45px;
    }
    textarea{
        height: 100px;
    }
    input, textarea{
        margin-bottom: 20px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        font-size: 1.05rem;
        padding: 10px 5px;
        letter-spacing: 1px;
        &[type="submit"]{
            width: 60%;
            height: 50px;
            margin: 0 auto;
            background: $blue;
            border-radius: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            &:hover {
                transition: all ease  300ms;
                background: lighten($blue, 25%);
                color: $blue;
            }
        }
    }
    .bottom_link{
        margin: 15px auto;
        font-size: 1rem;
        line-height: 1.5;
        color: #517ae0;
    }
}

.rows-container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    .rows-item{
        border: 1px solid #000;
        padding: 10px 20px;
        margin: 10px;
        transition: all ease 500ms;
        background: #fefefe;
        border-radius: 3px;
        box-shadow: 1px 1px 0px #c2c2c2;
        &:nth-child(odd){
            background: #E5EDF8;
        }
        &:hover {
            transform: scale(1.03);
            border: 3px solid #80A5DE;
        }
        & a{
            font-size: 1.3rem;
        }
    }
}

.delete_button{
    //-webkit-appearance: button;
    display: block;
    text-decoration: none;
    width: 18rem;
    font-size: 1.15rem;
    margin: 10px auto;
    background: #DB4732;
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    color: #30323D;
    cursor: pointer;
    transition: all ease 300ms;
    &:hover {
        background: #E47969;
    }
}
.accept_button {
    //-webkit-appearance: button;
    display: block;
    text-decoration: none;
    width: 18rem;
    font-size: 1.15rem;
    margin: 10px auto;
    background: #7CB518;
    text-align: center;
    padding: 15px 25px;
    border-radius: 10px;
    color: #30323D;
    cursor: pointer;
    transition: all ease 300ms;

    &:hover {
        background: lighten(#7CB518, 15%);
    }
}

.item__image{
    max-width: 30rem;
    max-height: 25rem;
    margin: 20px auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.item__container{
    display: flex;
    flex-direction: column;
    background: #fefefe;
    border: 1px solid #413B3D;
    padding: 0 15px;
    border-radius: 3px;
    margin: 20px 0;
    & > div h3{
        line-height: 2;
        letter-spacing: 1px;
    }
    & > div p{
        padding-left: 30px;
    }
    
}

.reviews_container{
    & div{
        background: #fefefe;
        border: 1px solid #000;
        margin: 10px 0px;
        padding: 0 15px;
        & >p:nth-child(2){
            font-size: 1.3rem;
        }
    }
}

.question_block{
    background: #fefefe;
    border: 1px solid #000;
    margin: 10px 0px;
    padding: 0 15px;
    &>p:nth-child(2) {
        font-size: 1.3rem;
    }
}
.new_question_answer, .edit_question_answer{
    label[for="question_answer_question"],
    label[for="question_answer_answer"] {
        font-size: 1.3rem;
        line-height: 2;
        font-weight: 900;
    }
    input[type="text"]{
        width: 20rem;
        padding: 0.5rem;
        font-size: 1.05rem;
        display: block;
        border-radius: 3px;
        border: 1px solid #000;
    }
    input[type="submit"]{
        width: 9rem;
        height: 2.5rem;
        display: block;
        font-size: 0.875rem;
        margin: 5px 0;
        background: #E5EDF8;
        border-radius: 3px;
        border: 1px solid #413B3D;
    }
}

.offer_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    .offer_item{
        margin: 5px 0;
        border: 1px solid rgba(0,0,0,0.6);
        border-radius: 10px;
        background: #fefefe;
        overflow: hidden;
        box-shadow: 1px 1px 0px #c2c2c2;
        h5{
            margin: 0;
            padding: 10px 0px 10px 20px;
        }
        h4 {
            padding: 10px 0px 10px 20px;
            margin: 15px 0px;
            a{
                padding-bottom: 4px;
                text-decoration: none;
                color: #30323D;
                border-bottom: 2px solid darken($blue, 20%);
                transition: border ease 300ms;
                &:hover{
                   border-bottom: 2px solid lighten($blue, 5%);
                   ;
                }
            }
        }
    }
}
.offer_single{
    width: 80%;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: #fefefe;
    overflow: hidden;
    box-shadow: 1px 1px 0px #c2c2c2;
    margin: 15px auto;
    h3{
        text-align: center;
        a {
            padding: 0 10px 5px 10px;
            text-decoration: none;
            color: #30323D;
            border-bottom: 2px solid darken($blue, 20%);
            transition: border ease 300ms;

            &:hover {
                border-bottom: 2px solid lighten($blue, 5%);
                ;
            }
        }
    }
}

.new_review{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label[for="review_review"]{
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }
    textarea{
        padding: 10px;
        max-width: 100%;
        height: 10rem;
        font-size: 1.15rem;
        margin: 0px;
        width: 665px;
    }
    input[type="submit"]{
        width: 40%;
        margin: 10px auto;
        padding: 14px;
        font-size: 1.15rem;
        display: block;
        -webkit-appearance: button;
        background: $blue;
        border-radius: 10px;
    }
}